body{
  font-family: 'Quicksand', sans-serif;
  padding-top: 50px;
}
.nav_item{
  font-weight: bold;
}
.nav_logo{
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 30px;
}
.secaoVermelha{
  background-color: #9E1E1E;
  color: #FCFBD7;
  /*background-attachment: fixed;*/
}
.secaoEscura{
  background-color: #333;
  color:white;
}
.secaoEscura h1{
  color:#FCFBD7;
}

.btn-cinza{
  background-color: #333;
  color:white;
}
.btn-cinza:hover{
  color:#E4C886;
}
.btn-cinza:visited{
  color:#FCFBD7;
}
.btn-cinza:active{
  color:#FCFBD7;
}
.secaoVermelha h1{
  color:#E4C886
}
.secaoCreme{
  background-color: #FCFBD7;
}
.secaoCreme h1{
  color: #9E1E1E;
}
.atencaoCreme{
  color: #9E1E1E;
}
.infoSecao{
  background-color: #FCFBD7;
  padding-top: 5px;
}

.verdem{
  background-color: #9E1E1E;
  color: #E4C886;
  font-weight: bold;
}
.verdem:hover{
  background-color: #9E1E1E;
  color: #FCFBD7;
  font-weight: bold;
}
.panel-heading p{
  color:white;
}
