.jumbotron {  background: #fff url(../img/energia-189832.jpg) top;height: 380px;
background-repeat: no-repeat;  background-size: cover;
background-attachment: fixed;/*-webkit-filter: blur(4px); filter:blur(4px);*/
}
.secao{
  padding-top: 85px;
  padding-bottom: 85px;
}
